# Resources:
#   S3Bucket:
#     Type: AWS::S3::Bucket
#     Properties:
#       Tags:
#         - Key: Purpose
#           Value: AWS CloudFormation Workshop

#   S3BucketPolicy:
#     Type: AWS::S3::BucketPolicy
#     Properties:
#       Bucket: !Ref S3Bucket
#       PolicyDocument:
#         Version: "2012-10-17"
#         Statement:
#           - Action:
#               - s3:*
#             Effect: Deny
#             Resource:
#               - !GetAtt S3Bucket.Arn
#               - !Sub '${S3Bucket.Arn}/*'
#             Principal: '*'
#             Condition:
#               Bool:
#                 aws:SecureTransport: false

# Outputs:
#   S3BucketDomainName:
#     Description: IPv4 DNS name of the bucket.
#     Value: !GetAtt S3Bucket.DomainName


Resources:
  Ec2Instance:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: t3.micro
      ImageId: ami-0b46816ffa1234887
      SecurityGroups:
        - !Ref Ec2SecurityGroup


  Ec2SecurityGroup: 
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enable HTTP access via port 80
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: 80
        ToPort: 80
        CidrIp: 0.0.0.0/0
Outputs:
  GetEc2InstanceId:
    Description: "EC2 Instance Id"
    Value: !GetAtt Ec2Instance.InstanceId
  GetEc2InstanceIP:
    Description: "EC2 Instance IP"
    Value: !GetAtt Ec2Instance.PublicIp
  GetEc2securitygruoupId:
    Description: "EC2 Security Group Id"
    Value: !Ref Ec2SecurityGroup